body{
    background-color: #0D1A2D;
}

.main-container{
    border-radius: 20px;
    background: #ffffff;
    width: 450px;
    height: 750px;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    text-align: center;
    background-color: #15273F;
    box-shadow: 15px 15px 20px #0b1627;
}
.img-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 35px 15px 20px 20px;
}

.img{
    width: 380px;
    border-radius: 25px;
    width: 380px;
    border-radius: 25px;
}

.icon-view{
    opacity: 1%;
}

.img-overlay{
    justify-content: center;
    align-items: center;
    display: flex;
    position: absolute;
    background-color: hsl(178, 100%, 50%, 60%);
    margin: 35px 0px 0px 37px;
    border-radius: 25px;
    top: 0;
    left: 0;
    width: 380px;
    height: 380px;
    z-index: 999;
    opacity: 1%;
}

.img-overlay:hover{
    opacity: 100%;
    cursor: pointer;
    transition: opacity 0.5s ease-in-out;
}

.text-container{
    text-align: left;
}

.title{
    color: white;
    text-align: left;
    padding: 0px 0px 0px 35px;
    font-family: 'Outfit', sans-serif;
}

.title:hover{
    color: hsl(178, 100%, 50%);
    text-align: left;
    padding: 0px 0px 0px 35px;
    font-family: 'Outfit', sans-serif;
    cursor: pointer;
}

.description{
    color: #97ACCB;
    justify-content: left;
    padding: 0px 45px 0px 35px;
    font-family: 'Open Sans', sans-serif;
}

.price-time-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.price{
    display: flex;
    color: hsl(178, 100%, 50%);
    font-family: 'Outfit', sans-serif;
    padding: 3px 15px 0px 35px;
    align-items: center;
}

.time-left{
    color: #97ACCB;
    font-family: 'Outfit', sans-serif;
    display: flex;
    align-items: center;
    padding: 3px 35px 0px 0px;
}

.line{
    height: 1px;
    background: #2F4159;
    margin: 0px 35px 0px 35px;
}

.creator-container{
    display: flex;
    align-items: center;
    margin: 15px 0px 0px 35px;
    justify-content: left;
}

.avatar{
    height: 40px;
    border: 1px;
    border-color: white;
    border-style: solid;
    border-radius: 50px;
}

.creator-name{
    color: #97ACCB;
    margin: 0px 0px 0px 15px;
}

.name{
    color:white; 
    font-family: 'Outfit', sans-serif;
}

.name:hover{
    color: hsl(178, 100%, 50%);
    cursor: pointer;
}
